#
AUTH_JWT_SECRET=

#
AUTH_COOKIE_SECURE=false

#
SHIPMENT_POD_SEED_ENABLED=true
SHIPMENT_POD_SEED_RANDOM_SEED=parcel-shipping-demo-2026

SHIPMENT_POD_SEED_MINIMUM_COUNT=1
SHIPMENT_POD_SEED_MAXIMUM_COUNT=3
SHIPMENT_POD_SEED_BATCH_SIZE=100
SHIPMENT_POD_SEED_FAIL_FAST=true

#
GRAFANA_ADMIN_PASSWORD=grafana123